@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
.container {
  background: #8E9AAF;
  background-image: url("https://i.imgur.com/DfQE2pj.jpg");
  background-blend-mode: screen;
  background-size: cover;
  background-position: top;
  height: 100vh; }

.Calendar {
  position: absolute;
  top: 100px;
  margin: auto; }

.all_requests {
  position: absolute;
  top: 460px;
  text-align: left;
  margin-top: 20px;
  margin-left: 32px; }

.title {
  font-size: 28px;
  margin-bottom: 20px; }

.content {
  color: #3d434d;
  font-size: 16px;
  margin: 10px 0px; }
