@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
* {
  box-sizing: border-box; }

.background {
  background: #8E9AAF;
  background-image: url("https://i.imgur.com/DfQE2pj.jpg");
  background-blend-mode: screen;
  background-size: cover;
  background-position: top;
  height: 100vh; }

.requests_img img {
  width: 60px;
  border-radius: 50%; }

.requests_name {
  margin-bottom: 20px; }

.dates {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.requests_reason {
  margin-top: 20px;
  font-weight: 700; }

.approval {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%; }
  .approval select {
    font-size: 16px;
    background: #D6D3F0;
    box-shadow: 0px 2px 5px #28262C;
    padding: 2px 10px;
    height: 40px; }
  .approval option {
    background: #D6D3F0; }

.requests_container {
  position: relative;
  top: 100px;
  overflow: scroll;
  height: 85vh; }

.purple_box {
  margin-top: 32px;
  padding: .1px;
  background: rgba(156, 146, 163, 0.7); }

.greyed_out {
  margin-top: 32px;
  padding: .1px;
  background: rgba(156, 146, 163, 0.7);
  opacity: .3; }

.requests {
  display: flex;
  justify-content: space-between;
  margin: 32px; }

.requests_block {
  width: 125.55px; }

.requests_title {
  font-size: 26px;
  text-align: left;
  margin-left: 32px; }

.submit_btn {
  width: 90px;
  height: 40px;
  background: linear-gradient(#665f5f, #28262C);
  color: #D6D3F0;
  border: none;
  font-size: 16px;
  box-shadow: 0px 3px 7px #413e3e; }
