@import './../../../variables.scss';

* {
    box-sizing: border-box;
}

.background {
    background: $mediumColor;
    background-image: url('https://i.imgur.com/DfQE2pj.jpg');
    background-blend-mode: screen;
    background-size: cover;
    background-position: top;
    height: 100vh;    
}

.requests_img {    
    img {
        width: 60px;
        border-radius: 50%;
    }
}

.requests_name {
    margin-bottom: 20px;
}

.dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between
    
}

.requests_reason {
    margin-top: 20px;
    font-weight: 700;
}

.approval {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    select {
        font-size: 16px;
        background: linear-gradient(rgb(255, 255, 255) 0%, $lightestColor 50%);
        box-shadow: 0px 2px 5px $darkestColor;
        padding: 2px 10px;
        height: 40px;
    }
    option {
        background: $lightestColor;
    }
}

.requests_container {
    position: relative;
    top: 100px;    
    // margin: 0px 32px;
    overflow: scroll;
    height: 85vh;
}

.purple_box {
    margin-top: 32px;
    padding: .1px;
    background: $darkColorTransparent;
}

.greyed_out {
    margin-top: 32px;
    padding: .1px;
    background: $darkColorTransparent;
    opacity: .3;
}

.requests {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    margin: 32px;
}

.requests_block {
    width: 125.55px;
}

.requests_title {
    font-size: 26px;
    text-align: left;
    margin-left: 32px;
}

.submit_btn {
    width: 90px;
    height: 40px;
    background: linear-gradient(rgb(102, 95, 95), $darkestColor);
    color: $lightestColor;
    border: none;
    font-size: 16px;
    box-shadow: 0px 3px 7px rgb(65, 62, 62);
}