@import './../../../_variables.scss';

* {
    font-family: $displayFont;
    box-sizing: border-box;
}

.EmpMain {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $mediumColor;
    background-image: url('https://i.imgur.com/DfQE2pj.jpg');
    background-blend-mode: screen;
    background-size: cover;
    background-position: top;
    height: 100vh;
}

.avatar {
    width: 157.925px;
    border-radius: 50%;
    margin-top: 70px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 10px $darkestColor;
}

.name {
    font-size: 28.27px;
    margin-bottom: 30px;

}

.clockin {
    width: 181.172px;
    height: 71px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    // background: $lightColor;
    margin: 40px 0px;
    box-shadow: 0px 3px 8px $darkestColor;
    border: none;
}

.timer {
    font-size: 55px;
}

.stopwatch { text-align: center }
.stopwatch-timer {
  font-size: 76px;
  font-weight: 100;
  line-height: 160px;
  
  margin: 0;
  
//   border: solid #cecfd0;
//   border-width: 1px 0;
//   background-color: black;
}

.stopwatch-laps {
  padding: 0 0 0 20px;
  list-style-type: none;
}

.stopwatch-lap {
  font-size: 20px;
  line-height: 60px;
  padding-right: 20px;
  text-align: right;
  border-bottom: 1px solid #d9dae0;
}

.stopwatch-lap strong {
  float: left;
  color: #7f8083;
  font-weight: 100;
}

.stopwatch-lap strong::before { content: 'Lap ' }

.btn {
  font-family: inherit;
  font-size: 20px;
  
  display: inline-block;
  
  width: 72px;
  height: 72px;
  margin: 24px;
  padding: 0;
  
  cursor: pointer;
  letter-spacing: 1px;
  
  border: 0;
  border-radius: 50%;
  outline: none;
//   background: white;
}


.start-btn { color: #4bd761 }
.stop-btn  { color: #fd3d2a }
