@import './../../_variables.scss';

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: $mediumColor;
    background-image: url('https://i.imgur.com/DfQE2pj.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    img {
        width: 75vw;
        margin-bottom: 100px;
    }
    button {
        margin-bottom: 50px;
        width: 148px;
        height: 58px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        background: linear-gradient($lightColor 0%, $darkColor 75%);
        border: none;
        color: $darkestColor;
        box-shadow: 0px 3px 10px $darkestColor;
    }
}