@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
.NavBar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.notification {
  margin-right: 10px;
  margin-top: 32px; }
  .notification img {
    width: 50px; }

.hamburger {
  margin-right: 32px;
  margin-top: 32px; }
  .hamburger img {
    width: 50px; }

.menuHide {
  position: fixed;
  height: 100%;
  width: 66vw;
  background: #28262C;
  transition: .4s;
  z-index: 3;
  margin-left: 66vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  letter-spacing: 1px;
  line-height: 28px;
  padding: 32px 32px 75px 32px; }
  .menuHide a {
    color: #D6D3F0;
    text-decoration: none; }
  .menuHide img {
    width: 50px; }

.menuOpen {
  position: fixed;
  transition: .6s;
  height: 100%;
  width: 66vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #28262C;
  z-index: 3;
  margin-left: 0;
  padding: 32px 32px 75px 32px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 28px; }
  .menuOpen a {
    color: #D6D3F0;
    text-decoration: none; }
  .menuOpen img {
    width: 50px; }

.notificationsHide {
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: .4s;
  height: 50vh;
  top: -50vh;
  width: 100%;
  background: #9C92A3;
  z-index: 1;
  padding-top: 32px; }
  .notificationsHide img {
    width: 50px;
    position: absolute;
    right: 92px; }

.notificationsOpen {
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: .6s;
  top: 0vh;
  height: 50vh;
  width: 100%;
  background: #9C92A3;
  z-index: 1;
  padding-top: 32px; }
  .notificationsOpen img {
    width: 50px;
    position: absolute;
    right: 92px; }

.mapped_notifications {
  margin-top: 70px; }
